  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}


<article class="blog-post">
        <h2 class="blog-post-title">Другой пост в блоге</h2>
        <p class="blog-post-meta">23 декабря 2020 г. <a href="#">Джейкоб</a></p>

        <p>Это дополнительный контент-заполнитель абзаца. Он был написан, чтобы заполнить доступное пространство и показать, как более длинный фрагмент текста влияет на окружающий контент. Мы будем повторять это часто, чтобы демонстрация продолжалась, так что ищите точно такую же строку текста.</p>
        <blockquote>
          <p>Здесь идет более длинная цитата, возможно, с некоторым <strong>выделенным текстом</strong> посередине.</p>
        </blockquote>
        <p>Это дополнительный контент-заполнитель абзаца. Он был написан, чтобы заполнить доступное пространство и показать, как более длинный фрагмент текста влияет на окружающий контент. Мы будем повторять это часто, чтобы демонстрация продолжалась, так что ищите точно такую же строку текста.</p>
        <h3>Пример таблица</h3>
        <p>И не забывайте о таблицах в этих постах:</p>
        <table class="table">
          <thead>
            <tr>
              <th>Наименование</th>
              <th>Голосование за</th>
              <th>Голосов против</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alice</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>Bob</td>
              <td>4</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Charlie</td>
              <td>7</td>
              <td>9</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Totals</td>
              <td>21</td>
              <td>23</td>
            </tr>
          </tfoot>
        </table>

        <p>Это дополнительный контент-заполнитель абзаца. Это немного более короткая версия другого часто повторяющегося основного текста, используемого повсюду.</p>
      </article>