{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Контакты {% endblock %}

{% block content %}
        <div class="row">
            <div class="text-center" style="margin-top:30px;">
                    <table>
    <tr>
        <td>Имя</td>
        <td>Василий Иванович</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>+79595959595</td>
    </tr>
    <tr>
        <td>Вацап</td>
        <td>@vororna</td>
    </tr>

</table>
            </div>


        </div>
{% endblock %}

