<!DOCTYPE html>
<html lang="en">
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>меню</title>
</head>
<body>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" style="background-color:#7700FF">
            <h1>Боковое меню</h1>
            <ul>
            <li><a href="index/">Домой</a></li>
            <li><a href="news/">Новости</a></li>
            <li><a href="profile/">Мой профиль</a></li>
            <li><a href="create/">Регистрация</a></li>
            <li><a href="signin/">Авторизация</a></li>
            <li><a href="sitebar/">меню</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>